.team-board {
    height: 100%;
    width: 100%;
}

.draft-board-div {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
}

.team-board-div {
    display: flex;
    justify-content: center;
    background-color: rgb(77, 123, 30);
    height: 100%;
    width: 100%;
}

.character-board {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    margin: 0 auto;
    grid-gap: 4%;
    width: 90%;
    height: 80%;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(131, 36, 221);
}

.team-board-table {
    position: relative;
    width: 90%;
    height: 100%;
    border-collapse: collapse;
    background-color: aqua;
    align-self: center;
}

.team-board-table td {
    height: 100%;
}