.team-board {
    height: 100%;
    width: 100%;
}

.draft-board-div {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
}

.team-board-div {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.character-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto;
    grid-gap: 4%;
    width: 90%;
    height: 80%;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(131, 76, 14, 0.8);
}

.character-board div {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: hidden;
}

.team-board-table {
    position: relative;
    width: 90%;
    height: 100%;
    border-collapse: collapse;
    align-self: center;
}

.team-board-table td {
    height: 100%;
}