.draft-board{
    height: 80%;
    width: 80%;
    background-color: rgb(236, 175, 146);
    /* opacity: 50%; */
    margin: auto;
    text-align: center;
}

.draft-board-table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.draft-board-table {
    width: 100%;
    height: 60%;
    border-collapse: collapse;
}

.draft-board-table-card:hover{
    box-shadow: 0 0 15px 5px rgba(70, 234, 21, 0.75);
}