.draft-board {
    display: grid;
    grid-template-columns: repeat(4, 22vw);
    grid-gap: 4vw;
    background-color: chocolate;
    width: 100%;
    max-width: 100vw;
    height: 40vw;
    /* max-height: 100vh; */
    margin: auto;
    box-sizing: border-box;
}