.App {
  text-align: center;
  display: flex;
    flex-direction: column;
    height: 100vh;
}

.Header-Div{
  flex: 0 1 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}

.Main-Div {
    flex: 1 1 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  background-color: cadetblue;
  position: relative;
}